<div class="container">
  <div class="row">
    <div class="col text-center mb-5">
      <h4><strong>商品編集</strong> <%= @store.name %></h4>
    </div>
  </div>
  <%= form_with model: @item, url: store_store_item_path do |f| %>
  <div class="row">
    <div class="col-lg-2 offset-3">
      <h5>商品画像</h5>
    </div>
    <div class="col-lg-3">
      <%= f.file_field :image, accept: "image/*" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>商品名</h5>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :name, :placeholder => "商品名", size: 30 %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>商品説明</h5>
    </div>
    <div class="col-lg-3">
      <%= f.text_area :introduction, :placeholder => "説明文を追加してください。", size: "30×30" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>税抜価格</h5>
    </div>
    <div class="col-lg-3">
      ¥ <%= f.number_field :price, :placeholder => "1000"%>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>販売ステータス</h5>
    </div>
    <div class="col-lg-3">
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中", class: 'text-black-50 mr-3' %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "販売停止中", class: 'text-black-50' %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-2">
      <div class="border-line">
        <hr class="hr1">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 offset-4 mt-4">
      <%= f.submit "変更を保存", class: 'btn btn-success btn-block' %>
    </div>
  </div>
  <% end %>
</div>