<div class="body">
  <div class="box">
    <% stores.each do |store| %>
    <div class="row">
      <div class="col-lg-3 offset-2">
        <%= link_to store_items_path(store) do %>
          <%= image_tag store.get_image(200, 200), class: 'rounded store-img' %>
        <% end %>
      </div>
      <div class="col-lg-5 mt-5">
        <h4><strong><%= store.name %></strong></h4>
        <h5><%= store.address %>
        <% if customer_signed_in? %>
          <% if store.favorited_by?(current_customer) %>
            <%= link_to store_favorite_path(store), method: :delete do %>
              <i class="fa-solid fa-heart-circle-check"></i>
            <% end %>
          <% else %>
            <%= link_to store_favorite_path(store), method: :post do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        <% end %></h5>
      </div>
    </div>
    <% end %>
  </div>
</div>