<div class="row">
  <% stores.each do |store| %>
  <div class="col-md-4">
      <div class="card text-bg-light border-secondary" style="width: 22rem;">
        <%= image_tag store.get_image(300, 200), class: 'store-img card-img-top' %>
        <div class="card-img-overlay ml-auto">
          <% if customer_signed_in? %>
            <% if store.favorited_by?(current_customer) %>
              <%= link_to store_favorite_path(store), method: :delete do %>
                <h5><i class="fa-solid fa-heart-circle-check text-light"></i></h5>
              <% end %>
            <% else %>
              <%= link_to store_favorite_path(store), method: :post do %>
                <h5><i class="fa-regular fa-heart text-light"></i></h5>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <%= link_to store_items_path(store) do %>
          <h5 class="card-title text-dark"><strong><%= store.name %></strong></h5>
        <% end %>
        <p class="card-text text-secondary"><%= store.address %></p>
      </div>
  </div>
  <% end %>
</div>