<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to stores_path do %>
      <h6><i class="fa-solid fa-angles-left text-dark"></i></h6>
      <% end %>
    </div>
  </div>
  <% if @cart_items.empty? %>
    <!-- カートが空の場合の表示 -->
    <div class="col mt-5">
    <%= render 'empty_cart_message' %>
    </div>
  <% else %>
  <% @cart_items.each do |cart_item| %>
  <div class="row">
    <div class="col-md-3 ml-md-5 mt-md-5">
      <%= image_tag cart_item.item.get_image(150, 150) %>
    </div>
    <div class="col-md-2 mt-md-5 mt-3">
      <h5><strong><%= cart_item.item.name %></strong></h5>
      <p class="text-secondary">商品合計　¥<%= cart_item.subtotal %></p>
      <% @total = @total + cart_item.subtotal %>
    </div>
    <div class="col-md-3 mt-md-5">
      <%= form_with model: cart_item, url: cart_item_path(cart_item.id), method: :patch do |f| %>
        <%= f.hidden_field :item_id, :value => cart_item.item.id %>
        <%= f.select :quantity, *[1..10] %>
        <%= f.submit "変更", class: 'btn btn-outline-success btn-sm ml-md-4' %>
        <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
    </div>
    <div class="col-md-9 border-item-line"></div>
  </div>
  <% end %>
  <div class="row mb-5">
    <div class="col-lg-3 empty-continue mt-5">
      <%= link_to root_path, class: 'btn btn-outline-dark rounded-pill btn-block pt-md-3 pb-md-3' do %>
        お買い物を続ける <i class="fa-solid fa-cart-shopping"></i>
      <% end %>
    </div>
    <div class="col-md-2 offset-md-3 mt-md-5 border-item-line col-6">
      <h4>合計金額</h4>
    </div>
    <div class="col-md-1 mt-md-5 border-item-line col-6">
      <h4>¥<%= @total %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 offset-lg-2">
      <%= link_to "ご注文手続きへ進む >>>", new_order_path, class: 'btn btn-success btn-block mt-md-5 mb-md-5' %>
    </div>
  </div>
  <% end %>
 </div>