<div class="container">
  <div class="row">
    <div class="col text-center mb-5">
      <h4><%= @store.name %></h4>
    </div>
  </div>
  <%= form_with model: @store, url: store_store_path(@store) do |f| %>
  <div class="row">
    <div class="col-lg-2 offset-3">
      <h5>店舗ID</h5>
    </div>
    <div class="col-lg-3">
      <h5><%= @store.id %></h5>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>店舗写真</h5>
    </div>
    <div class="col-lg-3">
      <%= f.file_field :image, accept: "image/*", class:"w-100" %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>店舗名</h5>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>住所</h5>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :address, size: 40 %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>メールアドレス</h5>
    </div>
    <div class="col-lg-3">
      <%= f.email_field :email %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-2 offset-3">
      <h5>電話番号</h5>
    </div>
    <div class="col-lg-3">
      <%= f.text_field :telephone_number %>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-8 offset-2">
      <hr class="hr1">
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-4 offset-4">
      <%= f.submit "変更を保存", class: 'btn btn-block btn-success' %>
    </div>
  </div>
  <% end %>
</div>