<div class="container">
  <div class="row">
    <div class="col mb-3">
      <h3><%= @store.name %></h3>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6">
      <h5 class="text-secondary">住所</h5>
      <h5><%= @store.address %></h5>
      <h5 class="text-secondary mt-3">メールアドレス</h5>
      <h5><%= @store.email %></h5>
      <h5 class="text-secondary mt-3">電話番号</h5>
      <h5><%= @store.telephone_number %></h5>
    </div>
    <div class="col-lg-4">
      <%= image_tag @store.get_image(300, 300) %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 mt-4">
      <div class="border-line">
        <hr class="hr1">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-4 offset-2">
      <%= link_to "編集する", edit_store_store_path(@store), class: 'btn btn-success btn-block' %>
    </div>
  </div>
</div>