<div class="container p-5">
  <div class="row">
    <div class="col-lg-4">
      <h3 class="mt-3"><strong>注文情報確認</strong></h3>
    </div>
  </div>
  <% @cart_items.each do |cart_item| %>
  <div class="row">
    <div class="col-3 ml-5 mt-5">
      <%= image_tag cart_item.item.get_image(150, 150) %>
    </div>
    <div class="col-lg-2 mt-5">
      <p><strong><%= cart_item.item.name %></strong></p>
    </div>
    <div class="col-lg-1 mt-5">
      <p>数量 <%= cart_item.quantity %></p>
    </div>
    <div class="col-lg-1 mt-5">
      <h4>¥<%= cart_item.subtotal %></h4>
      <% @total = @total + cart_item.subtotal %>
    </div>
    <div class="col-lg-8 border-item-line"></div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-lg-2 mt-5">
      <p>支払方法</p>
    </div>
    <div class="col-lg-2 mt-5">
      <p><%= @order.payment_method_i18n %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <p>手数料</p>
    </div>
    <div class="col-lg-2">
      <p>¥<%= @order.fee %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 mb-5">
      <h3>支払金額</h3>
    </div>
    <div class="col-lg-1 mb-5">
      <h3>¥<%= @total + @order.fee %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-5 offset-2 mt-5">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.hidden_field :fee %>
        <%= f.hidden_field :payment_amount, value: @total + @order.fee %>
        <%= f.hidden_field :payment_method %>
        <%= f.submit "注文を確定する>>>", class: 'btn btn-success shodow-sm btn-block pr-5 pl-5' %>
      <% end %>
    </div>
  </div>
</div>