<div class="container">
  <div class=="row">
    <div class="col-md-6 offset-md-3 offset-lg-2">
      <h4 class="text-center">Order Eats</h4>
        <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="field">
          <h5 class="mt-5">メールアドレス</h5>
          <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", :placeholder => "aaa@gmail.com", size: 35, class: "mb-3 col-12" %>
        </div>
        <div class="field">
          <h5>パスワード</h5>
          <%= f.password_field :password, class: 'form-control', autocomplete: "current-password", :placeholder => "パスワード(6文字以上)", size: 35, class: "mb-5 col-12" %>
        </div>
        <div class="action">
          <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
        </div>
        <% end %>
        <div class="link mt-4 ml-4">
          <span style="font-size:14px;">
            アカウントをお持ちでない場合、登録は<%= link_to "こちら", new_customer_registration_path %>から
          </span>
        </div>
    </div>
  </div>
</div>
