<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h4 class="text-center mb-5">店舗新規会員登録</h4>
    </div>
  </div>
  <%= form_with model: @store, url: store_registration_path do |f| %>
    <%= render "store/shared/error_messages", resource: resource %>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>店舗名</h5>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :name, :placeholder => "店舗名", size: 30 %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>住所</h5>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :address, :placeholder => "住所", size: 30 %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>電話番号</h5>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :telephone_number, size: 30, :placeholder => "00000000000" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>メールアドレス</h5>
      </div>
      <div class="col-lg-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: 30, :placeholder => "aaa@gmail.com" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>カテゴリー</h5>
      </div>
      <div class="col-lg-3">
        <%= f.collection_select :store_category_id, StoreCategory.all, :id, :name, :include_blank => "--選択してください--" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>パスワード</h5>
      </div>
      <div class="col-lg-3">
        <%= f.password_field :password, size: 30, :placeholder => "パスワード(６文字以上)" %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-3 offset-3">
        <h5>パスワード(確認用)</h5>
      </div>
      <div class="col-lg-3">
        <%= f.password_field :password_confimation, size: 30, :placeholder => "パスワード(確認用)" %>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-8 offset-2">
        <div class="border-line">
          <hr class="hr1">
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-4 offset-4">
        <%= f.submit "新規登録", class: 'btn btn-success btn-block' %>
      </div>
    </div>
    <div class="row mb-5">
      <div class="offset-4">
        <div class="link mt-4 ml-4">
        <span style="font-size:14px;">
          アカウントをお持ちでない場合、登録は<%= link_to "こちら", new_store_session_path %>から
        </span>
      </div>
      </div>
    </div>
  <% end %>
</div>