<div class="container">
  <div class="row">
    <div class="col-lg-12 col-12">
      <div class="category-header">
        <nav>
          <ul style="list-style: none;">
            <% @item_categories.each do |item_category| %>
              <li><h5><%= link_to item_category.name, store_items_path(item_category_id: item_category.id), class: 'text-dark' %></h5></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12 text-center">
      <h4><%= @store.name %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <% if params[:item_category_id].present? %>
        <h2><%= "#{ItemCategory.find(params[:item_category_id]).name}" %></h2>
      <% end %>
    </div>
    <% @items.each do |item| %>
    <div class="col-md-4">
      <div class="row mt-md-2">
        <div class="col-md-6">
          <%= link_to store_item_path(@store, item) do %>
            <p class="text-dark"><strong>-<%= item.name %></strong></p>
          <% end %>
        </div>
        <div class="col-md-2">
          <p>¥<%= item.price %></p>
        </div>
        <div class="col-md-10 border-bottom"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>